*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    /*margin:100px auto;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("assets/pxfuel (2).jpg");



}

.container{
    /*margin-top: 200px;*/
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
    /*background-color:red;*/
}

.container .form{
    /*padding: 30px;*/
    width: 50%;
    padding: 30px;
    transition: margin-left 0.18s ease  ;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title{
    display:flex;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #4070f4;

}

.form .form-group{
    position: relative;
    height: 50px;
    margin-top: 30px;
    width: 100%;
}

.form-group input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 45px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px solid #ccc;
    border-radius: 10px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.form-group input:is(:focus, :valid){
    border-bottom-color: #4070f4;

}


.form-group i{
    margin-left: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;

}

.form-group input:is(:focus, :valid) ~ i {
    color: #4070f4;
}

.form-group i.icon{
    left: 0;
}

.form-group i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 15px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color:#333;
    font-size: 14px;
    letter-spacing: 0.5px;


}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 20px;
    text-align: center;
}

.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

input:invalid:not(:placeholder-shown) {
    border-bottom-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}









